header{
    background-color: rgb(61, 61, 61);
    color: aliceblue;
    padding: 30px;
}

.navbar{
    background-color: rgb(83, 83, 81);
}

ul{
    list-style: none;
}

ul li{
    float: left;
}

li a{
    color: aliceblue;
    text-align: center;
    padding: 10px 15px;
    display: block;
}

ul li a:hover{
    background-color: rgb(161, 161, 123);
}

form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    margin: auto;
    max-width: 600px;
}

label{
    text-align: left;
    padding: 0px 20px;
}

input{
    width: 100%;
    box-sizing: border-box;
}


.submit_button{
    background-color: tomato;
    border: none;
    cursor: pointer;
}

.submit_button:hover{
    background-color: rgb(233, 206, 172);
    color: brown;
}

footer{
    background-color: rgb(61, 61, 61);
}

footer h1{
    color: aliceblue;
}